body
{
    background: #fff url("../img/background.jpg") no-repeat center fixed;
    font-family: 'Arvo', serif;
    color: #fff;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    font-size:14px;
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 4s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 4s;
    text-shadow: none;
    text-align: center;
}

.text-right
{
    margin-top: -18px;
}

.text-zone
{
    width: 60%;
    margin: 0 auto;
    padding-left: 28px;
}

.text-left,
.text-center
{
    float: left;
}

.text-center
{
    padding-left: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
}

h1 {
    color: #fff;
    font-size: 5em;
    margin-bottom: 0;
}

h1, h3 {
    text-shadow: 0 1px 8px rgba(0, 0, 0, .95);
}

span.poe {
    font-family: 'Gloria Hallelujah', cursive;
}

span.turing {
    font-family: 'Source Code Pro', monospace;
}

span {
    text-shadow: 0 1px 8px rgba(0, 0, 0, .95);
    font-size: 1.2em;
}

div > select,
div > textarea,
div > input
{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

textarea, select
{
    background-color: rgba(255, 255, 255, .9)
}

textarea
{
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
}

.loader
{
  margin: 1em auto;
}

.loader--snake
{
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  transform: translate(-4.125em);
  box-shadow: 1.375em 0em #dec023, 1.375em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em 0.29721em #b8b74c, 2.75em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em 0.18368em #93ae75, 4.125em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em -0.18368em #6da59e, 5.5em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em -0.29721em #479cc7, 6.875em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  animation: snake 2s linear infinite;
}

@keyframes snake
{
  0% {
    box-shadow: 1.375em 0em #dec023, 1.375em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em 0.29721em #b8b74c, 2.75em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em 0.18368em #93ae75, 4.125em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em -0.18368em #6da59e, 5.5em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em -0.29721em #479cc7, 6.875em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  }
  20% {
    box-shadow: 1.375em 0.29721em #b8b74c, 1.375em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em 0.18368em #93ae75, 2.75em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em -0.18368em #6da59e, 4.125em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em -0.29721em #479cc7, 5.5em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em 0em #dec023, 6.875em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  }
  40% {
    box-shadow: 1.375em 0.18368em #93ae75, 1.375em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em -0.18368em #6da59e, 2.75em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em -0.29721em #479cc7, 4.125em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em 0em #dec023, 5.5em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em 0.29721em #b8b74c, 6.875em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  }
  60% {
    box-shadow: 1.375em -0.18368em #6da59e, 1.375em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em -0.29721em #479cc7, 2.75em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em 0em #dec023, 4.125em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em 0.29721em #b8b74c, 5.5em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em 0.18368em #93ae75, 6.875em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  }
  80% {
    box-shadow: 1.375em -0.29721em #479cc7, 1.375em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em 0em #dec023, 2.75em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em 0.29721em #b8b74c, 4.125em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em 0.18368em #93ae75, 5.5em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em -0.18368em #6da59e, 6.875em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 1.375em 0em #dec023, 1.375em 0em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 2.75em 0.29721em #b8b74c, 2.75em -0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 4.125em 0.18368em #93ae75, 4.125em -0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 5.5em -0.18368em #6da59e, 5.5em 0.18368em 0.625em -0.3125em rgba(0, 0, 0, 0.8), 6.875em -0.29721em #479cc7, 6.875em 0.29721em 0.625em -0.3125em rgba(0, 0, 0, 0.8);
  }
}

.sk-folding-cube {
  display: none;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}